@import url('http://fonts.cdnfonts.com/css/kg-neatly-printed');

.main{

    height: auto;
    width: 100vw;
    background-image: url('https://image.freepik.com/free-vector/kids-doodles_1108-181.jpg');

    padding: 20px;
    display: flex;
   
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}


.ViewColor{

    border-radius: 20px;
    height: 84vh;
    width: 65vw;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    
}

.ViewColor h1{
    font-size: 45px;
}

.btn{
    width: 100%;
    margin-bottom: 10px;
}



.buttons{
    height: auto;
    width: 4cm;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.clear{
    height: 84vh;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;

}


ul{
    display: flex;
    flex-direction: row;
    list-style-type:none;   
}

.nav-item{
    margin-left: 10px;
}
