<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"
      style="background:linear-gradient(to right, #1e9600, #fff200, #ff0000); color: black;">
      <h2>Welcome to the Balwadi Application!!!!!!</h2>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true ">
  <!-- <ion-card style="padding: 10px;" -->
  <!-- <div></div>
    <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>  -->
  <!--
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <div id="main">


    <!-- <div class="card ">

      <img style="height: 100%;width: 15%;"
        src="https://i.pinimg.com/originals/4d/e6/ea/4de6ea1808c96af78a95cf5104467ed4.gif" alt="">

      <div style="margin-left: 20px;">
        <div class="card_heder">
          <h1 style="font-size: xxx-large;">Numbers</h1>
        </div>
        <div class="card-desc">
          <h2 style="font-size: x-large;">Let's Play with Numbers </h2>
        </div>
      </div>

    </div> -->


    <div class="card " (click)="numbers()">

      <img style="height: 100%;width: 15%;"
        src="https://i.pinimg.com/originals/4d/e6/ea/4de6ea1808c96af78a95cf5104467ed4.gif" alt="">

      <div style="margin-left: 20px;">
        <div class="card_heder">
          <h1 style="font-size: xxx-large;">Numbers</h1>
        </div>
        <div class="card-desc">
          <h2 style="font-size: x-large;">Let's Play with Numbers </h2>
        </div>
      </div>

    </div>




    <div class="card " style="background-color: #c7e9fb;
    background-image: linear-gradient(315deg, #c7e9fb 0%, #e61d8c 74%); " (click)="alphabets()">

      <img style="height: 100%;width: 15%;"
        src="https://cdn.dribbble.com/users/710392/screenshots/2986291/media/d0edb9f16f40b5a9ad0079cfa5ad0cfa.gif"
        alt="">

      <div style="margin-left: 20px;">
        <div class="card_heder">
          <h1 style="font-size: xxx-large;">Alphabets</h1>
        </div>
        <div class="card-desc">
          <h2 style="font-size: x-large;"> Know about alphabets </h2>
        </div>
      </div>

    </div>





    <div class="card " style="background-color: #c7e9fb;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); " (click)="shapes()">

      <img style="height: 100%;width: 15%;"
        src="https://cdn.dribbble.com/users/2844289/screenshots/8976444/media/daf390f836df35cae66a1ecfb56bcd43.gif"
        alt="">

      <div style="margin-left: 20px;">
        <div class="card_heder">
          <h1 style="font-size: xxx-large;">Shapes</h1>
        </div>
        <div class="card-desc">
          <h2 style="font-size: x-large;">Let's learn shapes </h2>
        </div>
      </div>

    </div>



    <div class="card " style="background: #0B486B;  
    background: -webkit-linear-gradient(to right, #F56217, #0B486B);
    background: linear-gradient(to right, #F56217, #0B486B); 
    " (click)="colors()">

      <img style="height: 100%;width: 15%;"
        src="https://cdn.dribbble.com/users/789995/screenshots/10454092/media/bf9ae4e35c66855d8092c435170f77e8.gif"
        alt="">

      <div style="margin-left: 20px;">
        <div class="card_heder">
          <h1 style="font-size: xxx-large;">Colors</h1>
        </div>
        <div class="card-desc">
          <h2 style="font-size: x-large;">Let's Play with colors </h2>
        </div>
      </div>

    </div>



    <div class="card  " style="background: linear-gradient(to right, #fc5c7d, #6a82fb);" (click)="poems()">

      <img style="height: 100%;width: 15%;"
        src="https://i.pinimg.com/564x/67/e2/8c/67e28cdf4e626b492687566357368b41.jpg" alt="">

      <div style="margin-left: 20px;">
        <div class="card_heder">
          <h1 style="font-size: xxx-large;">Poems</h1>
        </div>
        <div class="card-desc">
          <h2 style="font-size: x-large;">Let's sing a poem </h2>
        </div>
      </div>

    </div>



    <div class="card"
      style="background-image: linear-gradient( 108.9deg,  rgba(251,140,0,1) 11.2%, rgba(0,139,155,1) 88.9% );"
      (click)="videos()">

      <img style="height: 100%;width: 15%;"
        src="https://c.tenor.com/aoYM44D0onMAAAAC/story-telling-happy.gif"
        alt="">

      <div style="margin-left: 20px;">
        <div class="card_heder">
          <h1 style="font-size: xxx-large;">Videos</h1>
        </div>
        <div class="card-desc">
          <h2 style="font-size: x-large;"> Infotainment </h2>
        </div>
      </div>

    </div>



  </div>




</ion-content>